@import './_variables';
@import '../abstracts/variables/colors';

//Footer
.app-footer {
    height: $footer-height;
    box-sizing: border-box;
    padding: 0 20px;

    background-color: map-get($colors, bw, 100);
}