@import '../../abstracts/variables/colors';

.sv-cart {
    position: relative;
    padding: 0 10px 0 0;
    svg {
        color: map-get($colors, bw, 0);
    }
}
.sv-cart__counter {
    position: absolute;
    top: -8px;
    right: 2px;
    min-width: 15px;
    height: 15px;
    padding: 0 5px;
    border-radius: 500px;
    background-color: map-get($colors, accent, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        display: block;
        font-size: .6rem;
        color: map-get($colors, bw, 0);
    }
}

.sv-order {
    box-sizing: border-box;
    padding: 20px 0;

    // .sv-accordion:not(:last-of-type) {
    //     margin-bottom: 10px;
    // }
}

.sv-order__block {
    background-color: map-get($colors, bw, 0);
}

.sv-order__block {
    margin-bottom: 10px;
}


.sv-order__list__items {
    box-sizing: border-box;
    padding: 40px 0;
}

.sv-order__item {
    padding: 0 40px;
    section:first-of-type {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
}
.sv-order__item + .sv-order__item {
    margin-top: 60px;
}

.sv-order__item__content {
    display: flex;
    .sv-order__item__img {
        position: relative;
        width: 200px;
        img {
            display: block;
            max-width: 100%;
            max-height: 120px;
            margin: auto;
        }
    }

    .sv-order__item__name {
        width: 300px;
        padding: 0 15px;

        span {
            display: block;
        }

        .sv-order__item-category {
            margin-bottom: 5px;
            color: map-get($colors, bw, 40);
        }
    
        .sv-order__item-name {
            font-size: .9rem;
            font-weight: 600;
        }
    }
}

.sv-order__item__counter {
    button {
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        cursor: pointer;
        font-size: .8rem;
    }

    input {
        margin: 0 10px;
        width: 40px;
        height: 35px;
        border: 1px solid map-get($colors, bw, 20);
        border-radius: 10px;
        text-align: center;
    }
}

.sv-order__item__price {
    
    >span {
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
        color: map-get($colors, bw, 100);
    }
}

.sv-order__item__delete {
    text-align: right;
    span {
        font-size: .8rem;
        color: map-get($colors, bw, 70);
        cursor: pointer;
    }
}

.sv-order__list_total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid map-get($colors, bw, 10);
    padding: 20px 40px;
    span {
        display: block;
    }
    span:last-of-type {
        margin-left: 20px;
        font-size: 1.3rem;
        font-weight: 600;
        color: map-get($colors, bw, 100)
    }
}

.sv-order__list_next {
    border-top: 1px solid map-get($colors, bw, 10);
    padding: 20px 40px;
    display: flex;
    >div {
        margin: auto;
        >div {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            span {
                display: block;
            }
            span:first-child {
                font-size: .9rem;
            }
            span:last-child {
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }
}

.sv-order__summary {

    .sv-order__summary__title,
    .sv-order__summary__content {
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .sv-order__summary__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >span {
            color: map-get($colors, bw, 70);
            display: block;
            font-size: 1.2rem;
        }
        
        .sv-order__summary__edit {
            font-size: .8rem;
            color: map-get($colors, primary, 70);
            cursor: pointer;
            span:last-of-type {
                margin-left: 5px;
            }
        }
    }

    .sv-order__summary__items-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            font-size: .9rem;
            span:last-of-type {
                display: inline-block;
                color: map-get($colors, bw, 40);
                margin-left: 15px;
            }
        }
        li:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    .sv-order__summary__items-total {
        box-sizing: border-box;
        padding: 20px 0 0;

        span {
            display: inline-block;
        }

        span:first-of-type {
            font-size: .8rem;
        }

        span:last-of-type {
            font-weight: 600;
            margin-left: 15px;
        }
    }
}